<div class="center jumbotron">
  <% provide(:title, "Home") %>
  <h1>Welcome</h1>
  
  <br><br>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign In", login_path, class: "btn btn-lg btn-primary" %>
  
  <br><br>
  
</div>